[Desktop Entry]
Categories=chat;Network;
Exec="/opt/Icalingua++/icalingua --no-zygote --no-sandbox" %U
Icon=icalingua.png
Name=Icalingua
Comment=A Linux client for QQ and more
StartupNotify=true
Terminal=false
Type=Application
