[Desktop Entry]
Categories=chat;Network;
Exec=icalingua %u
Icon=icalingua
Name=Icalingua
Comment=A Linux client for QQ and more
StartupNotify=true
Terminal=false
Type=Application
