[Desktop Entry]
Categories=chat;Network;
Exec=icalingua %u
Icon=icalingua.png
Name=Icalingua
Comment=A Linux client for QQ and more
StartupNotify=true
StartupWMClass=electron-qq
Terminal=false
Type=Application
