::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: none !important;
}
::-webkit-scrollbar-thumb {
    background-color: #999999 !important;
    background-image: none !important;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #dd5e89 !important;
}

::selection {
    background: #d3d3d3;
    color: #555;
}

::-moz-selection {
    background: #d3d3d3;
    color: #555;
}

::-webkit-selection {
    background: #d3d3d3;
    color: #555;
}
