::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3) inset;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    border-radius: 3px;
    -webkit-box-shadow: none !important;
}
::-webkit-scrollbar-thumb {
    background-color: #999999 !important;
    background-image: none !important;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #DD5E89 !important;
}

::selection {
    background:#d3d3d3;
    color:#555;
}

::-moz-selection {
    background:#d3d3d3;
    color:#555;
}

::-webkit-selection {
    background:#d3d3d3;
    color:#555;
}