[Desktop Entry]
Categories=chat;Network;
Exec=electron /usr/lib/electron-qq.asar %u
Icon=electron-qq.png
Name=Electron QQ
Comment=A cross-plantform QQ made with Electron
Terminal=false
Type=Application
