/*
 * Legal Disclaimer
 *
 * These web fonts are licensed exclusively for use on the following:
 * spotify.com
 *
 * It is strictly forbidden to download or use these fonts on any other website domain or media.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2018
 */


/*
 *
 * INSTRUCTIONS
 *
 * Copy the Legal Disclaimer and the @font-faces statements to your regular CSS file.
 * The fonts folder(s) should be placed relative to the regular CSS file.
 *
 */

@font-face {
	font-family: "CircularSpotifyTxT Book Web";
	src: url("fonts/CircularSpotifyTxT-Book.eot");
	src: url("fonts/CircularSpotifyTxT-Book.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-Book.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-Book.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-Book.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Book Italic Web";
	src: url("fonts/CircularSpotifyTxT-BookItalic.eot");
	src: url("fonts/CircularSpotifyTxT-BookItalic.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-BookItalic.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-BookItalic.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-BookItalic.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Light Web";
	src: url("fonts/CircularSpotifyTxT-Light.eot");
	src: url("fonts/CircularSpotifyTxT-Light.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-Light.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-Light.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-Light.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Light Italic Web";
	src: url("fonts/CircularSpotifyTxT-LightItalic.eot");
	src: url("fonts/CircularSpotifyTxT-LightItalic.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-LightItalic.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-LightItalic.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-LightItalic.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Medium Web";
	src: url("fonts/CircularSpotifyTxT-Medium.eot");
	src: url("fonts/CircularSpotifyTxT-Medium.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-Medium.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-Medium.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Medium Italic Web";
	src: url("fonts/CircularSpotifyTxT-MediumItalic.eot");
	src: url("fonts/CircularSpotifyTxT-MediumItalic.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-MediumItalic.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-MediumItalic.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Black Web";
	src: url("fonts/CircularSpotifyTxT-Black.eot");
	src: url("fonts/CircularSpotifyTxT-Black.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-Black.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-Black.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Black Italic Web";
	src: url("fonts/CircularSpotifyTxT-BlackItalic.eot");
	src: url("fonts/CircularSpotifyTxT-BlackItalic.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-BlackItalic.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-BlackItalic.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-BlackItalic.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Bold Web";
	src: url("fonts/CircularSpotifyTxT-Bold.eot");
	src: url("fonts/CircularSpotifyTxT-Bold.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-Bold.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-Bold.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "CircularSpotifyTxT Bold Italic Web";
	src: url("fonts/CircularSpotifyTxT-BoldItalic.eot");
	src: url("fonts/CircularSpotifyTxT-BoldItalic.svg") format("svg"),
		 url("fonts/CircularSpotifyTxT-BoldItalic.ttf") format("truetype"),
		 url("fonts/CircularSpotifyTxT-BoldItalic.woff") format("woff"),
		 url("fonts/CircularSpotifyTxT-BoldItalic.woff2") format("woff2");
}