.vac-app-border {
	border: var(--chat-border-style);
}

.vac-app-border-t {
	border-top: var(--chat-border-style);
}

.vac-app-border-r {
	border-right: var(--chat-border-style);
}

.vac-app-border-b {
	border-bottom: var(--chat-border-style);
}

.vac-app-box-shadow {
	box-shadow: 0 2px 2px -4px rgba(0, 0, 0, 0.1),
		0 2px 2px 1px rgba(0, 0, 0, 0.12), 0 1px 8px 1px rgba(0, 0, 0, 0.12);
}

.vac-item-clickable {
	cursor: pointer;
}

.vac-vertical-center {
	display: flex;
	align-items: center;
	height: 100%;

	.vac-vertical-container {
		width: 100%;
		text-align: center;
	}
}

.vac-svg-button {
	max-height: 30px;
	display: flex;
	cursor: pointer;
	transition: all 0.2s;
}

.vac-svg-button:hover {
	transform: scale(1.1);
	opacity: 0.7;
}

.vac-room-avatar {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ddd;
	height: 42px;
	width: 42px;
	min-height: 42px;
	min-width: 42px;
	margin-right: 15px;
	border-radius: 50%;
}

.vac-badge-counter {
	height: 13px;
	width: auto;
	min-width: 13px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3px;
	font-size: 11px;
	font-weight: 500;
}

.vac-text-bold {
	font-weight: bold;
}

.vac-text-italic {
	font-style: italic;
}

.vac-text-strike {
	text-decoration: line-through;
}

.vac-text-underline {
	text-decoration: underline;
}

.vac-text-inline-code {
	display: inline-block;
	font-size: 12px;
	color: var(--chat-markdown-color);
	background: var(--chat-markdown-bg);
	border: 1px solid var(--chat-markdown-border);
	border-radius: 3px;
	margin: 2px 0;
	padding: 2px 3px;
}

.vac-text-multiline-code {
	display: block;
	font-size: 12px;
	color: var(--chat-markdown-color-multi);
	background: var(--chat-markdown-bg);
	border: 1px solid var(--chat-markdown-border);
	border-radius: 3px;
	margin: 4px 0;
	padding: 7px;
}

.vac-text-tag {
	color: var(--chat-message-color-tag);
	cursor: pointer;
}
